<%= content_tag :div, class: "container" do %>
  <%= content_tag :div, class: "post-head" do %>
    <h4><%= content_tag :span, "Post # #{@post.id} by  #{@user.name}" %></h4>
    <%= content_tag :span, "Comments: #{@post.comments_counter} Likes: #{@post.likes_counter}" %>  
  <% end %>
  <h1><%= @post.title %></h1>
  <%= @post.text %>

  <div>
      <%= form_with model: @like, url:  user_post_likes_path(@user, @post) do |form|%>
          <%= form.submit 'Like post', class: 'submit' %>
        <%end%>
    </div>

  <ul class="comment">
    <% @post.comments.each do |comment| %>
      <li>
        <%= content_tag :span, "#{comment.author.name} : #{comment.text}" %>
      </li>
    <% end %>
  </ul>

  <button class="see-all-post d-flex border">
    <%= link_to "Create new comment", new_user_post_comment_path(@user, @post) %>
</button>
  <% end %>

  